body {
    font-family: Arial, sans-serif;
    background-image: url('fantasma1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

h1, h2 {
    color: #00ffcc;
}

.gallery img {
    width: 200px;
    margin: 10px;
    border: 2px solid #00ffcc;
}

iframe {
    border: 3px solid #00ffcc;
    display: block;
    margin: 20px auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

#btn-voltar {
    display: none;
    margin: 0 auto;
    background-color: #00ffcc;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

#btn-voltar:hover {
    background-color: #00ddb3;
}
